@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Cyberpunk in The House</h1>
    <p class="lead">Лучший интернет магазин бытовой техники на территории СНГ и не только!</p>
    <p><a href="~/Home/About" class="btn btn-primary btn-lg">Каталог товаров &raquo;</a></p>

    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img class="prod-img" src="~/Content/Images/Hotpoint-Ariston-HFP-7200-XO-1.jpg" alt="Hotpoint"><p class="prod-info">Лучший холодильник для вашей семьи</p></div>
            <div class="swiper-slide"><img class="prod-img" src="~/Content/Images/Hotpoint-Ariston-HFP-7200-XO-2.jpg" alt="Hotpoint"><p class="prod-info">Не лучший холодильник для вашей семьи</p></div>
            <div class="swiper-slide"><img class="prod-img" src="~/Content/Images/LG-DoorCooling-1GA-B509SQKL-1.jpg" alt="LG"><p class="prod-info">Наилучший холодильник для вашей семьи</p></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>
    @*<div id="carousel" class="carousel slide" data-ride="carousel">
            <!-- Индикаторы -->
            <ol class="carousel-indicators">
                <li data-target="#carousel" data-slide-to="0" class="active active-back"></li></>
                <li data-target="#carousel" data-slide-to="1"></li>
                <li data-target="#carousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                    <img src="~/Content/Images/Hotpoint-Ariston-HFP-7200-XO-1.jpg" alt="Hotpoint">
                </div>
                <div class="item">
                    <img src="~/Content/Images/Hotpoint-Ariston-HFP-7200-XO-2.jpg" alt="Hotpoint">
                </div>
                <div class="item">
                    <img src="~/Content/Images/LG-DoorCooling-1GA-B509SQKL-1.jpg" alt="LG">
                </div>
            </div>
            <!-- Элементы управления -->
            <a class="left carousel-control" href="#carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Предыдущий</span>
            </a>
            <a class="right carousel-control" href="#carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Следующий</span>
            </a>
        </div>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Просмотреть полный каталог товаров</h2>
        <p>
            Наш магазин содержит богатый ассортимент бытовых приборов. Каждый пользователь, зашедший на сайт, становится покупателем, так как не может пройти мимо
            наилучшей техники планеты.
        </p>
        <p><a class="btn btn-default" href="/Home/About">Каталог &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Просмотреть персонал нашей компании</h2>
        <p>Все представители нашей компании не скрывают лица и гордятся своей профессией.</p>
        <p><a class="btn btn-default" href="/Home/Contact">Персонал &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>